<ion-view view-title="位置">
  <ion-content class="padding">
    
    <div class="list">
      <label class = "item item-input item-select">
        <div class = "input-label">
          請選擇倉庫位置
        </div>
        
        <select>
            <option selected>A1</option>
            <option>A2</option>
            <option>A3</option>
            <option>B1</option>
            <option>B2</option>
            <option>B3</option>
            <option>C1</option>
            <option>C2</option>
            <option>C3</option>
            <option>D1</option>
            <option>D2</option>
            <option>D3</option>
        </select>
        
      </label> 
    </div>
  
    <button class = "button button-block button-positive">
    搜尋
    </button>

  </ion-content>
</ion-view>
