<ion-view view-title="產出時間">
  <ion-content class="padding">
    
    <div class="list">
      <label class = "item item-input item-select">
        <div class = "input-label">
          請選擇距離月份
        </div>
        
        <select>
            <option selected>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
        </select>
        
      </label> 
    </div>
  
    <button class = "button button-block button-positive">
    搜尋
    </button>

  </ion-content>
</ion-view>
